<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/stylesheet.css">
  
</head>
<body>
    <header>
        <h1>
            checkout
        </h1>
    </header>

    <fieldset class="field">
        <em>First Name :</em>
        <input type="text" id="fName">
        <em>Last Name : </em>
        <input type="text" id="lName">
        <em>Email :</em>
        <input type="email" id="email">
        <em>Tel. :</em>
        <input type="tel" id="tele">
        <em>City</em>
        <input type="text" id="city">
        <em>Address</em>
        <input type="text" id="address">
        <em>Zip code :</em>
        <input type="text" id="zipCode">
        <em>Type comment:</em>
        <textarea cols="53" rows="5" id="commentField"></textarea>
        <button onclick="formvalidation()">send</button>
    </fieldset>

  
        <script src="../script/checkout.js"></script>
</body>
</html>